# Игнорировать папки и файлы, которые генерируются различными инструментами
target/
dist/
node_modules/
build/
out/
bin/
.idea/
.vscode/
*.iml

# Игнорировать временные файлы
*.swp
*~
*.bak

# Игнорировать системные файлы
.DS_Store
Thumbs.db